<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BS Exchange Services {% block titre %}  {% endblock %}</title>

    <meta name="author" content="Marc Tatchou">
    <meta name="description" content="Ventes, achats et échanges de cryptomonnaies (USDT, PM, BUSD, BNB). Dépot et retrait 1xbet.">
    <meta property="og:site_name" content="BS Exchange Services">
    <meta name="twitter:title" property="og:title" itemprop="name" content="Ventes, achats et échanges de cryptomonnaies (USDT, PM, BUSD, BNB). Dépot et retrait 1xbet.">
    <meta name="twitter:description" property="og:description" itemprop="description" content="Bitcoin, Perfect Money, Ethereum, Binance">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="{{ asset("assets/img/favicon.png") }}" rel="icon">
    <link href="{{ asset("assets/img/favicon.png") }}" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset("assets/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ asset("assets/css/all.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/owl.carousel.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/magnific-popup.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/animate.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/meanmenu.min.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/main.css") }}" rel="stylesheet">
    <link href="{{ asset("assets/css/responsive.css") }}" rel="stylesheet">

	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap ">
						<!-- logo -->
						<div class="site-logo mt-2">
							<a href="{{ path("index") }}">
								<img src="{{ asset("assets/img/logo.png") }}" alt="bs exchange services">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ path("index") }}">Accueil</a></li>
								<li class="current-list-item"><a href="{{ path('index') }}#about">A Propos</a></li>
								<li class="current-list-item"><a href="{{ path('index') }}#crypto">Cryptomonnaies</a>
									<ul class="sub-menu">
										<li><a href="{{ path('vente') }}">Vendre</a></li>
										<li><a href="{{ path('achat') }}">Acheter</a></li>
										<li><a href="{{ path('echange') }}">Echanger</a></li>
									</ul>
								</li>
								<li class="current-list-item"><a href="{{ path("index") }}#1xbet">1xbet</a>
									<ul class="sub-menu">
										<li><a href="{{ path('depot') }}">Depot</a></li>
										<li><a href="{{ path('retrait') }}">Retrait</a></li>
									</ul>
								</li>
								<li class="current-list-item"><a href="{{ path('index') }}#contacts">Contacts</a></li>
								<li class="current-list-item"><a href="{{ path('about') }}">Besoin d'aide ?</a></li>
							</ul>
						</nav>
						<div class="mobile-menu">
							
						</div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

    {% block hero_area %}
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle fw-bold">De quel service avez vous besoin ?</p>
							<h1>BS Exchange Services</h1>
							<p class="lead text-white">Votre plateforme pour suivre les tendances et échanger vos cryptomonnaies en toute simplicité.</p>
							<div class="hero-btns">
								<a href="{{ path('index') }}#crypto" class="bordered-btn fw-bold">Cryptomonnaie</a>
								<a href="{{ path('index') }}#1xbet" class="boxed-btn fw-bold">1xbet</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
	{% endblock %}

	<!-- Market Trends Section with Graph -->
    <div class="container my-5">
        <h2 class="mb-4 text-center fw-bold">Tendances du Marché (Valeurs)</h2>
        {% if trending.coins is not empty %}
        <canvas id="marketTrendsChart"></canvas>
    {% else %}
        <p class="text-center text-danger">pas disponibles pour le moment.</p>
    {% endif %}
    </div>

    {% block features %}
	<!-- About  -->
	<div class="py-3">
		<div class="container">
			<div class="about-section align-items-center row row-cols-1 row-cols-md-2">
				<div class="about-img">
					<img class='rounded' src="{{ asset("assets/img/about.png") }}">
				</div>
				<div class="about-content pt-5 pt-md-0">
					<p class="about-subtitle">BS Exchanges<p>
					<h2 class="about-title fw-bold">A Propos</h2>
					<p class="abt-text">Bienvenue sur votre plateforme de référence pour l'achat, la vente et l'échange de cryptomonnaies.
					Conçu pour simplifier vos transactions en toute sécurité. Notre mission est de démocratiser l'accès aux cryptomonnaies en rendant les échanges
					rapides, transparent et accessible à tous. Rejoignez notre communauté grandissante de passionné et d'experts en cryptomonnaies.</p>
					<a href="https://wa.me/2250708618478?text=Bonjour%20Mr,%20besoins%20de%20renseignements%20sur%20BS%20Exchanges." type="Button" class="btn btn-warning fw-bold mt-3"><strong>Contactez-nous</strong></a>
				</div>
			</div>
		</div>
	</div>
	<!-- About end -->
    
    <!-- Market Trends Section -->
    <div class="container my-3">
	{% if trending is not empty %}
		<div class="swiper-trends">
			<div class="swiper-wrapper">
				{% for coin in trending.coins %}
					<div class="swiper-slide">
						<div class="card crypto-card rounded-5 shadow">
							<div class="card-body">
								<p class="card-title fw-bold text-warning">{{ coin.item.name }}</p>
								<p class="card-text">
									Symbole : <strong>{{ coin.item.symbol | upper }}</strong><br>
									Classement : #{{ coin.item.market_cap_rank }}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
    </div>

	<!-- latest news -->
	<div class="latest-news py-5">
		<div class="container">

			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="container mb-5">	
						<h2 class="fw-bold p-0"><span class="orange-text">Nos</span> Services</h2>
					</div>
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-md-4" id="crypto">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col-auto d-lg-block">
							<img src="{{ asset("assets/img/1.jpg") }}">
						</div>
						<div class="col p-2 d-flex flex-column position-static">
							<h4 class="lead mb-0 fw-bold">Achetez vos cryptomonnaies</h4>
							<p class="card-text mb-auto">Services rapides et sécurisés. Disponible 24h/24 7j/7 !</p>
							<a href="{{ path('achat') }}" type="Button" class="btn btn-warning fw-bold mt-3"><strong>Achetez</strong></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col-auto d-lg-block">
							<img src="{{ asset("assets/img/2.jpg") }}">
						</div>
						<div class="col p-2 d-flex flex-column position-static">
							<h4 class="lead mb-0 fw-bold">Vendez vos cryptomonnaies</h4>
							<p class="card-text mb-auto">Services rapides et sécurisés. Disponible 24h/24 7j/7 !</p>
							<a href="{{ path('vente') }}" type="Button" class="btn btn-warning fw-bold mt-3"><strong>Vendez</strong></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col-auto d-lg-block">
							<img src="{{ asset("assets/img/3.jpg") }}">
						</div>
						<div class="col p-2 d-flex flex-column position-static">
							<h4 class="lead mb-0 fw-bold">Echangez vos cryptomonnaies</h4>
							<p class="card-text mb-auto">Services rapides et sécurisés. Disponible 24h/24 7j/7 !</p>
							<a href="{{ path('echange') }}" type="Button" class="btn btn-warning fw-bold mt-3"><strong>Echangez</strong></a>
						</div>
					</div>
				</div>


				<div class="col-md-12 my-4">
					<div class="container d-flex flex-column rounded align-items-center py-5" style="background-image: url({{ asset("assets/img/win.jpg") }}); background-position: center center; height: auto">
						<p class="text-white text-center pb-3">
							👋 Les paris sportifs n'ont jamais été aussi pratiques et faciles. Il vous suffit de télécharger l'application 1xBet pour être au cœur du grand jeu ! Pour tous les nouveaux joueurs sur l'application mobile : bonus jusqu'à 65 000 FCFA à l'inscription.  Utilisez notre code promotionnel 5511 officiel pour recevoir le bonus dès aujourd'hui. ✊💪
						</p>
						<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
							<a type="button" href='https://refpa4293501.top/L?tag=d_264333m_1599c_&site=264333&ad=1599' class="btn btn-primary px-3 me-md-2 fw-bold">Inscris-toi sur 1xBet avec le code 5511</a>
						</div>
					</div>
				</div>


				<div class="col-md-6" id="1xbet">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col-auto d-lg-block">
							<img src="{{ asset("assets/img/4.jpg") }}">
						</div>
						<div class="col p-4 d-flex flex-column position-static">
							<h4 class="lead mb-0 fw-bold">Dépot 1xBet</h4>
							<p class="card-text mb-auto">Services rapides et sécurisés. Disponible 24h/24 7j/7 !</p>
							<a href="{{ path('depot') }}" type="Button" class="btn btn-warning fw-bold mt-3"><strong>Faire un dépot</strong></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col-auto d-lg-block">
							<img src="{{ asset("assets/img/5.jpg") }}">
						</div>
						<div class="col p-4 d-flex flex-column position-static">
							<h4 class="lead mb-0 fw-bold">Retrait 1xBet</h4>
							<p class="card-text mb-auto">Services rapides et sécurisés. Disponible 24h/24 7j/7 !</p>
							<a href="{{ path('retrait') }}" type="Button" class="btn btn-warning fw-bold mt-3"><strong>Faire un retrait</strong></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
    {% endblock features %}

	<!-- Price History Section -->
    <div class="container my-5">
        <h2 class="mb-4 text-center fw-bold">Historique des Prix du Bitcoin</h2>
        {% if trending.coins is not empty %}
        <canvas id="priceHistoryChart"></canvas>
    {% else %}
        <p class="text-center text-danger">pas disponibles pour le moment.</p>
    {% endif %}
    </div>

	<!-- features list section -->
	<div class="list-section py-5">
		<div class="container">

			<div class="row">
				<div class="col-md-4 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Service rapide et sécurisé</h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Disponible 7j/7, 24h/24</h3>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Assitance Disponible</h3>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- footer -->
	<div class="footer-area p-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6" id="about">
					<div class="footer-box about-widget">
						<h2 class="widget-title">BS Exchange Services</h2>
						<p>Services d'achat, de vente et d'échange de cryptomonnaies |
							Services de dépôt et retrait 1xbet</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6" id="contacts">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contacts</h2>
						<ul>
							<li>Abidjan, Cote d'ivoire</li>
							<li>Barryadamagd@gmail.com</li>
							<li>(+225) 0708618478</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Accès rapide</h2>
						<ul>
							<li><a href="https://wa.me/2250708618478?text=Bonjour%20Mr%2C%20besoin%20d%27aide%20sur%20bsexchangeservices.com%20svp%20%21%20">Service client</a></li>
							<li><a href="{{ path('index') }}">Accueil</a></li>
							<li><a href="{{ path('achat') }}">Achat de cryptomonnaie</a></li>
							<li><a href="{{ path('vente') }}">Vente de cryptomonnaie</a></li>
							<li><a href="{{ path('echange') }}">Echange de cryptomonnaie</a></li>
							<li><a href="{{ path('depot') }}">Dépot 1xbet</a></li>
							<li><a href="{{ path('retrait') }}">Retrait 1xbet</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>&copy; Copyright - Réalisé par <a href="https://www.linkedin.com/in/marc-tatchou-85891a243">Net98</a>, Tous droits reservés.<br>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=100092585719468" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/BarryAd33179246?t=GtZJuKXuInlQUh-5eh1VWg&s=09" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://t.me/TZZEdxbetonebetforrone" target="_blank"><i class="fab fa-telegram"></i></a></li>
							<li><a href="https://wa.me/2250708618478?text=Bonjour%20Mr%2C%20besoin%20d%27aide%20sur%20bsexchangeservices.com%20svp%20%21%20" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{{ asset("assets/js/jquery-1.11.3.min.js") }}"></script>
	<!-- bootstrap -->
	<script src="{{ asset("assets/bootstrap/js/bootstrap.min.js") }}"></script>
	<!-- count down -->
	<script src="{{ asset("assets/js/jquery.countdown.js") }}"></script>
	<!-- isotope -->
	<script src="{{ asset("assets/js/jquery.isotope-3.0.6.min.js") }}"></script>
	<!-- waypoints -->
	<script src="{{ asset("assets/js/waypoints.js") }}"></script>
	<!-- owl carousel -->
	<script src="{{ asset("assets/js/owl.carousel.min.js") }}"></script>
	<!-- magnific popup -->
	<script src="{{ asset("assets/js/jquery.magnific-popup.min.js") }}"></script>
	<!-- mean menu -->
	<script src="{{ asset("assets/js/jquery.meanmenu.min.js") }}"></script>
	<!-- sticker js -->
	<script src="{{ asset("assets/js/sticker.js") }}"></script>

	<!-- main js -->
	
	<script src="{{ asset("assets/js/main.js") }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	
	<!-- Bootstrap JS, AOS & Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
		// Chart.js for Market Trends
        const marketTrendsCtx = document.getElementById('marketTrendsChart').getContext('2d');
		const labelsTrend = [];
    	const dataTrend = [];
    	{% for coin in trending.coins %}
        	labelsTrend.push('{{ coin.item.name }}');
        	dataTrend.push('{{ coin.item.data.price }}');
    	{% endfor %}
        const marketTrendsChart = new Chart(marketTrendsCtx, {
            type: 'bar',
            data: {
                labels: labelsTrend,
                datasets: [{
                    label: 'Classement du Marché (Prix)',
                    data: dataTrend,
                    backgroundColor: 'rgba(255, 215, 0, 0.5)',
                    borderColor: 'rgba(255, 215, 0, 0)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });

        // Chart.js for Price History
        const ctx = document.getElementById('priceHistoryChart').getContext('2d');
		const labelsHistory = [];
    	const dataHistory = [];
    	{% for price in history.prices %}
        	labelsHistory.push('{{ price[0] }}');
        	dataHistory.push('{{ price[1] }}');
    	{% endfor %}
        const priceHistoryChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labelsHistory,
                datasets: [{
                    label: 'Prix (USD)',
                    data: dataHistory,
                    backgroundColor: 'rgba(255, 215, 0, 0.5)',
                    borderColor: 'rgba(255, 215, 0, 0)',
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: true }
                }
            }
        });

    // Initialisation de Swiper.js
    const swiper = new Swiper('.swiper-trends', {
        slidesPerView: 1, // Nombre de cartes visibles
        spaceBetween: 15, // Espace entre les cartes
		autoplay: {
			delay: 500, // Autoplay avec un délai de 2,5 secondes
			disableOnInteraction: false, // Ne pas désactiver l'autoplay lors de l'interaction
		},
        breakpoints: {
			1200: {
                slidesPerView: 4, // Pour les tablettes
            },
            820: {
                slidesPerView: 3, // Pour les tablettes
            },
            480: {
                slidesPerView: 2, // Pour les petits écrans
            }
        }
    });
	</script>

</body>
</html>
