<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
    <title>BS Exchange Services | Bon de commande</title>

</head>

<body>
        <div>
            Félicitations ! Votre recharge 1XBET a été effectué avec succès.
        </div>


	<table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Détails</th>
                <th scope="col">Données</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ID Compte</td>
                <td>{{ id_compte }} </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Montant</td>
                <td>{{ montant }} </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>ID Transaction</td>
                <td>{{ id_transaction }} </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Numéro de paiement</td>
                <td>{{ numero_paiement }} </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Pays</td>
                <td>{{ pays }} </td>
            </tr>
        </tbody>  
    </table>
    <br>
    <a href="https://wa.me/2250708618478" role="button">Cliquez ici pour valider votre recharge !</a>
		
	</div>
</body>
</html>
